

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{

	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Roboto';
}

html,body{

	height:100%;
}

.right{

	width: 50%;
	
	
}

.left{

	width: 50%;
	
}

.center{

	width:98%;
	margin-top:20px;
}

header{

	text-align:center;
	padding:30px;

}

form{

	width:100%;
	max-width:500px;
	text-align:center;
	margin:0 auto;
}

input[type=text]{

	width:100%;
	max-width:280px;
	height:35px;
	margin-top:20px;
}

input[type=password]{

	width:100%;
	max-width:280px;
	height:35px;
	margin-top:20px;
}

input[type=checkbox]{

	margin-top:20px;
	text-align:left;
}

input[type=submit]{

	width:280px;
	height:44px;
	margin-top:20px;
	background:darkblue;
	color:#fff;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

button{

	width:80px;
	height:35px;
	background-color:darkblue;
	border-radius:30px;
	cursor:pointer;
	color:#fff;
	border: none;
}

